nav {
    background-color: rgb(196, 162, 212);
    position: sticky;
    top: 0;
    padding-bottom: 1px;
    padding-top: 1px;
    width: 100%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    font-family: sans-serif;
}
nav ul {
 display: flex;
 gap: 60px;
 list-style: none;
 justify-content: center;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
#biojane a {
    text-decoration: none;
    color: black;
}
.janestuff {
    font-family: "Brush Script MT", cursive;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(245, 207, 215);
    color: black;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgb(177, 177, 177);
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    margin-bottom: 40px;
}
.titulojane {
    color: black;
    text-align: center;
}
.titulodidi {
    color: black;
}
.didistuff {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    background-color: rgb(165, 135, 179);
    border-radius: 50px;
    box-shadow: 3px 3px 5px rgb(177, 177, 177);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top: 20px;
    margin-bottom: 50px;
}
#biojane {
    margin-top: 10px;
}
body {
    background-image: url(https://i.pinimg.com/736x/f4/c3/85/f4c3856e2887edcecb4bd1c346298f39.jpg);
    background-size: auto;
}
.discstuff {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    background-color: rgb(233, 241, 242);
    border-radius: 30px;
    box-shadow: 3px 3px 5px rgb(177, 177, 177);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top: 20px;
    margin-bottom: 50px;
}
#discografía img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#discografía dl dd {
    display: list-item;
    list-style-type: "☆";
    padding-inline-start: 5px;
}
#discografía a {
    text-decoration: none;
    color: black;
}
.galstuff {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
    background-color: rgb(233, 242, 234);
    border-radius: 30px;
    box-shadow: 3px 3px 5px rgb(177, 177, 177);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top: 20px;
    margin-bottom: 50px;
}
.artidivis {
    text-align: center;
    background-color: rgb(233, 242, 234);
    width: 71%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}
#artículos {
    background-color: pink;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#artículos table {
    margin-left: auto;
    margin-right: auto;
}
#artículos table tr {
    text-align: center;
}
#artículos table tr th {
    background-color: rgb(196, 162, 212);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 30px ;
    padding-right: 30px;
}